/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "bootstrap";

body {

    position: relative;
    //padding-top: 70px;
    //border-top: 20px solid $brand-primary;

    #languageSelector {
        position: absolute;
        text-align: right;
        top: 5px;
        right: 5px;
        padding: 3px 10px;
        border: 1px solid $gray-light;
        @include border-radius($border-radius-base);

        a {
            font-size: $font-size-small;
            color: $gray-light;
            display: inline-block;
            margin-right: 10px;
            text-transform: uppercase;

            &:hover {
                //text-decoration: none;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .segment {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .blackWrapper {
        background-color: $gray-dark;
        color: #fff;
        @include box-shadow(0 2px 8px #333);
    }

    section[role=content] {

        #landingWrapper {

            padding-top: 90px;
            padding-bottom: 60px;

            background: image-url('bg.jpg') no-repeat center;
            @include box-shadow(0 2px 8px #333);

            section#hero {

                color: #fff;

                h1 {
                    margin: 0;
                    font-size: 160px;
                    //@include text-shadow(0 2px 8px $gray);
                }
                p {
                    margin-top: 50px;
                    margin-bottom: 70px;
                    span {
                        font-weight: 400;
                    }
                }
                @media (max-width: $screen-sm-max) {
                    h1 {
                        font-size: 80px;
                    }
                }
            }
        }

        section#process {

        }

        section#services {

        }

        section#contact {

            address {
                strong {
                    font-size: 18px;
                }
                a {
                    //font-weight: bold;
                }
            }
        }

    }


    footer {

        padding-top: 90px;
        padding-bottom: 90px;
        text-transform: uppercase;
        color: $gray-light;

        section#social {
            a {
                color: $gray;
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }
            }
            @media (max-width: $screen-sm-max) {
                a {
                    //margin-right: 0;
                    margin-right: 20px;
                    display: inline-block;
                }
                &:last-child {
                    margin-right: 0;
                }
            }

        }

        section#logo {

            margin: 35px 0;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        section#copyright {

        }
    }
}

// @import "cdi/*.png";
// .cdi {
//     display: inline-block;
//     height: 48px;
//     width: 48px;

//     margin-right: 5px;
//     &:last-child {
//         margin-right: 0;
//     }
// }
// @include all-cdi-sprites;
